/* Estilos para InputStyle */

.input__coluna {
    width: calc(100% - 16px);
    height: 40px;
    background-color: #ffffff;
    color: black;
    outline: none;
    border: 1px solid rgba(161, 161, 161, 0.18);
    border-radius: 12px 0 0 12px;
    outline: none;
    padding: 0 0 0 16px;
}

.input__coluna:hover {
    background-color: #fffffff4;
}