/* Estilos para Header */

.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 150px;  
    background-color: rgba(0, 0, 0, 0.771);
}

.header h1 {
    color: white;
    font-size: 32px;
    padding: 0 0 0 1%;
    --interval: 1s;
    display: block;}