/* Estilos para Layout */

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.header{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5% 2%;
}

.titulo {
    font-size: 32px;
  
}

.nova__coluna {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #44444412;
    padding: 16px;
    gap: 16px;
    border-radius: 6px 12px 12px 6px;
    font-weight: bold;
    color: whitesmoke;
    opacity: 5%;
    transition: 0.5s;
    margin: 0 20px;
}

.nova__coluna:hover {
    opacity: 100%;
}


.nova__coluna h3{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}


/* Celular */
@media screen and (max-width: 1600px) {
    .container {
        padding: 4% 2%;
    }
}

/* Celular */
@media screen and (max-width: 768px) {
    .container {
        align-items: center;
        padding: 10% 2%;
    }
}
